* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
  width: 100%;
}

nav {
  background-color: #c12127;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 15px;
  height: 50px;
  font-weight: 600;
}

nav a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  line-height: 2em;
}

.top-left {
  display: inline-block;
  height: 30px;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
  height: 30px;
}

.top-links li {
  display: inline-block;
  margin: 0 10px 100px 0;
}
header {
  display: block;
  width: 100%;
  height: 450px;
  background-color: #235a79;
}

.searchbar-logo {
  color: white;
  height: 60px;
}

.npm-logo {
  display: inline-block;
  width: 80px;
  float: left;
  margin: 10px;
}
.searching-bar {
  float: left;
  display: inline-block;
  width: 70%;
  margin: 10px -1px 10px 20px;
  background: rgb(31, 82, 111);
  height: 30px;
  border: 1px solid #91adbc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.magnifying-glass {
  width: 30px;
  height: 28px;
  border: 1px solid #91adbc;
  background: rgb(31, 82, 111);
  float: left;
  margin: 10px 0 0 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.magnifying-glass a {
  display: block;
}
.mg {
  width: 30px;
  height: 28px;
}

.texted {
  display: inline-block;
  float: left;
  margin: 10px 20px;
  padding: 2px;
}
.texted a {
  text-decoration: none;
}
.texted a:visited {
  color: white;
}
.bear-npm-logo {
  float: left;
  margin: 5px;
  width: 4%;
}
.clear-fix {
  clear: both;
}
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", OpenSans, sans-serif;
}
h1 {
  display: inline-block;
  color: White;
  width: 500px;
  font-weight: 200;
  font-size: 46px;
}
h2 {
  font-size: 2.5rem;
  color:white;
}
.second-half {
  background-size:cover;
  width: 100%;
  height: 350px;
  background: url("images/city-scape.svg") no-repeat;
}
.sometextc-button {
  width: 70%;
  height: 300px;
  margin: 0 auto;
}
.sometextc-button img {
  display: inline-block;
  float: right;
  width: 1000px;
  height: 400px;
}
.sometextc-button p {
  color: white;
  width: 475px;
  text-align: left;
  margin: 30px 20px;
}
.signup-npm-button {
  width: 250px;
  height: 50px;
  background: rgb(240, 146, 51);
  border-radius: 35px;
}
.signup-npm-button a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 2.5em;
  font-size: 1.3em;
}
.signup-npm-button a:visited {
  color: white;
}
#section-1 {
  background: rgb(39, 53, 71);
}
.npm-orgs {
  width: 78%;
  height: 350px;
  padding: 50px;
  margin: 0 auto;
}
.npm-orgs img {
  width: 450px;
  /*height:221px;*/
  display: inline-block;
  float: left;
}
.middle-right {
  float: right;
}
.middle-right li {
  color: white;
  line-height: 1.5em;
}
.middle-right ul {
  margin: 10px 0 0 20px;
}

.middle-right a,
.middle-right p {
  text-decoration: none;
  color: white;
}
.middle-right h1 {
  margin-left: 15px;
  color:white;
}
.middle-right p {
  margin-top: 15px;
}

.signup-Orgs a:visited {
  color: white;
}
.signup-Orgs a {
  display: block;
  text-align: center;
  line-height: 2.5em;
}
.signup-Orgs {
  margin-top: 20px;
  width: 250px;
  height: 50px;
  background: rgb(203, 56, 55);
  border-radius: 35px;
  font-size: 1.3em;
}

#section-2 {
  background-size: cover;
  background: url("images/forklift.svg") no-repeat;
  height: 450px;
  position: relative;
}

.install-npm {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  background: rgb(49, 68, 88);
  border-radius: 35px;
  font-size: 1.2em;
}

.install-npm a:visited {
  color: white;
}

.install-npm a {
  display: block;
  text-align: center;
  line-height: 2.5em;
  text-decoration: none;
}
.tl-install-npm {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 300px;
}
.tl-text {
  margin-top: 20px;
  display: inline-block;
  width: 400px;
  color: white;
  font-size: 1.3em;
  text-align: left;
}
.bigger {
  width: 75%;
  height: 500px;
  margin: 0 auto;
}
.bigger h2 {
  color: rgb(83, 88, 98);
}
.container {
  width: 32%;
  float: left;
  margin: 5px;
}

.container img {
  display: block;
  width: 20%;
  margin: 20px auto;
}
.container a:visited,
.container a {
  color: rgb(208, 74, 73);
  text-decoration: none;
}

.container h3 {
  text-align: center;
  margin-top: 20px;
}
.container p {
  width: 80%;
  text-align: center;
  margin: 20px auto 0 auto;
  color: rgb(135, 145, 156);
}
.header-npm-registry {
  margin-top: 50px;

}
.header-npm-registry h1 {
  color: rgb(83, 88, 98);
  width: 100%;
}
.header-npm-registry p {
  color: rgb(83, 88, 98);
  text-align:center;
}
